# Configuration file

####################
# block
####################

block {
    I:Block=3951
    I:Block2=3947
    I:LightSource=3948
    I:Machine=3950
    I:Ore=3949
    I:Stone1=3946
}


####################
# crops
####################

crops {
    I:Argentia=145
    I:Blazereed=130
    I:Bobsyeruncleranks=127
    I:Brown_Mushrooms=143
    I:Coppon=142
    I:Corium=132
    I:Corpseplant=133
    I:Creeperweed=134
    I:Diareed=128
    I:Eggplant=131
    I:Enderbloom=135
    I:Flax=125
    I:Indigo=124
    I:Meatrose=136
    I:Milkwart=137
    I:Oilberries=126
    I:Plumbilia=146
    I:Red_Mushrooms=144
    I:Slimeplant=138
    I:Spidernip=139
    I:Tearstalks=140
    I:Tine=141
    I:Withereed=129
}


####################
# item
####################

item {
    I:CELLS=21002
    I:COMPONENTS=31017
    I:CheatyDevice=31009
    I:CloakingDevice=31000
    I:Crowbar=21064
    I:DIRTYDUSTS=31014
    I:DUSTS=21001
    I:Dataorb=30995
    I:DebugScanner=21055
    I:Destructopack=31005
    I:Drill_Advanced=21123
    I:Empty_Tool_01=21112
    I:Empty_Tool_02=21113
    I:Empty_Tool_03=21114
    I:Empty_Tool_04=21121
    I:Empty_Tool_05=21122
    I:Empty_Tool_06=21141
    I:FileBronze=21087
    I:FileIron=21086
    I:FileSteel=21088
    I:FileTungstenSteel=21089
    I:Flint_Axe=21127
    I:Flint_Hoe=21128
    I:Flint_Pickaxe=21125
    I:Flint_Shovel=21126
    I:Flint_Sword=21124
    I:HammerBronze=21074
    I:HammerIron=21073
    I:HammerRubber=21072
    I:HammerSteel=21075
    I:HammerTungstenSteel=21076
    I:HandheldSonictron=31006
    I:Heliumcoolant060k=31004
    I:Heliumcoolant120k=31003
    I:Heliumcoolant180k=31002
    I:IronMortar=31008
    I:JackHammerDiamond=30996
    I:JackHammerIron=30999
    I:JackHammerSteel=30997
    I:LIQUIDDISPLAY=31012
    I:Lamphelmet=30994
    I:LapotronicEnergycrystal=31001
    I:Lapotronpack=21045
    I:LavaFilter=21085
    I:LithiumbatteryEmpty=21056
    I:LithiumbatteryFull=21057
    I:Lithiumpack=21058
    I:MATERIALS=21000
    I:Mortar=31007
    I:NCSensorCard=31011
    I:NCSensorKit=31010
    I:NUGGETS=31015
    I:NaKcoolant060k=21060
    I:NaKcoolant120k=21061
    I:NaKcoolant180k=21062
    I:Neutronreflector=30998
    I:Rockcutter=21046
    I:SMALLDUSTS=31016
    I:Saw_Advanced=21120
    I:Saw_Bronze=21116
    I:Saw_Electric=21119
    I:Saw_Iron=21115
    I:Saw_Steel=21117
    I:Saw_Tungstensteel=21118
    I:Scanner=21063
    I:Screwdriver=21065
    I:Screwdriver_Electric=21140
    I:Screwdriver_Tungstensteel=21139
    I:SolderingLead=21079
    I:SolderingTin=21078
    I:SolderingTool=21077
    I:Spray_00=21096
    I:Spray_01=21097
    I:Spray_02=21098
    I:Spray_03=21099
    I:Spray_04=21100
    I:Spray_05=21101
    I:Spray_06=21102
    I:Spray_07=21103
    I:Spray_08=21104
    I:Spray_09=21105
    I:Spray_10=21106
    I:Spray_11=21107
    I:Spray_12=21108
    I:Spray_13=21109
    I:Spray_14=21110
    I:Spray_15=21111
    I:Spray_Bug=21090
    I:Spray_CFoam=21093
    I:Spray_Hardener=21092
    I:Spray_Hydration=21095
    I:Spray_Ice=21091
    I:Spray_Pepper=21094
    I:Steel_Axe=21132
    I:Steel_Hoe=21133
    I:Steel_Pickaxe=21130
    I:Steel_Shovel=21131
    I:Steel_Sword=21129
    I:TINYDUSTS=31013
    I:Teslastaff=21047
    I:TungstenSteel_Axe=21137
    I:TungstenSteel_Hoe=21138
    I:TungstenSteel_Pickaxe=21135
    I:TungstenSteel_Shovel=21136
    I:TungstenSteel_Sword=21134
    I:TurbineBronze=21080
    I:TurbineCarbon=21084
    I:TurbineMagnalium=21082
    I:TurbineSteel=21081
    I:TurbineTungstensteel=21083
    I:WrenchAdvanced=21071
    I:WrenchBronze=21069
    I:WrenchElectric=21070
    I:WrenchRefIron=21067
    I:WrenchSteel=21066
    I:WrenchTungstensteel=21068
}


